.popup__input {
  display: block;
  width: 358px;
  line-height: 17px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0;
  padding-bottom: 9px;
  border-radius: 0;
}

.popup__input::placeholder {
  color: var(--black);
}

.popup__input:focus {
  outline: none;
}

.popup__input:first-child {
  margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
  .popup__input {
    width: 100%;
  }
}
