.popup__window {
  align-items: center;
  width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--black);
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 700px) {
  .popup__window {
    width: 282px;
    height: 322px;
  }
}
