.popup__window {
  align-items: center;
  width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--black);
  margin: 0 auto;
  position: relative;
}
