.popup__save-btn {
  display: block;
  margin: 48px auto 37px;
  background-color: var(--black);
  width: 100%;
  color: var(--white);
  border-radius: 2px;
  height: 50px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.popup__save-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .popup__save-btn {
    width: 100%;
    height: 46px;
    margin: 45px 0 25px;
  }
}
