.card__like-btn {
  width: 22px;
  height: 19px;
  border: none;
  background-color: var(--white);
  background-image: url('../../../images/like-btn.svg');
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 0.5;
}
